{% set courier = salt['grains.filter_by']({
    'default': {
        'server': {
            'address': 'ELK',
            'ip': '1.1.1.1'
        }
    },
}, merge=salt['pillar.get']('courier'), default='default') %}
